* {
  margin: 0px auto;
  width: 415px;
  font-family: helvetica;
  text-align: center;
}

body {
  color: gray;
}

h1 {
  font-size: 20px;
  text-align: center;
}

#bingo {
  border-space: 5px;
  margin: 0 auto;
  border-radius: 3px;
}

td {
  height: 100px;
  width: 100px;
  background: black;
  font-size: 12px;
  cursor: pointer;
}

td:hover {
  background-color: blue;
}

#winMessage {
  display: none;
  font-size: 15px;
}

button {
  width: auto;
}

#reset {
  display: none;
}

.selected {
  background-color: red;
}
