* {
  margin: 0px auto;
  width: 415px;
  text-align: center;
  background-color: #fff;
}

body {
}

h1 {
  font-size: 125px;
  text-align: right;
  color: #222;
  font-family: impact;
  margin-bottom: -30px;
}

h2 {
  font-size: 37.5px;
  text-align: center;
  padding-bottom: 10px;
  color: #222;
  font-family: impact;
}

#bingo {
  margin: 0 auto;
  border-radius: 3px;
}

td {
  height: 100px;
  width: 100px;
  background: #fff;
  font-size: 13px;
  cursor: pointer;
  color: #222;
  font-family: helvetica;
  border: 3px #222 solid;
  border-radius: 20px;

}

td:hover {
  background-color: lightgray;
}

#winMessage {
  display: none;
  font-family: impact;
  font-size: 90px;
}

/* button {
  width: auto;
  cursor: pointer;
} */

/* #reset {
  display: none;
} */

.selected {
  background-color: #ff3333;
}
